body
{
  background-color: #ee3f54;
  font-family: 'Bree Serif', serif;

}

h1, h2, h3, h4, h5, h6, button, input[type="submit"]
{
  font-family: 'Bree Serif', serif;
}

#socialContiner
{
  background-color: #1c3643;
}

#logoContainer .callout
{
    background-color: #ee3f54;
    color: white;
    margin-bottom: 0;
}

#menuContainer
{
  background-color: #48a19d;

}

#menuContainer li a
{
  color: white;
  font-family: 'Bree Serif', serif;
  text-transform: uppercase;
}

#menuContainer li a:hover,
#subMenuContainer li a:hover
{
  color: #f6e15f;
}

#subMenuContainer li a
{
  background-color: #48a19d;
  color: white;
}

#subMenuContainer
{
  border: 0;
}

#ticketsAction .callout
{
  background-color: #5e7eb7;
  color: white;
  margin-bottom: 0;
}

#ticketsAction .callout button
{
  color: white;
  border: 1px solid white;
}

#lineUpContainer,
#lineUpContainer .tabs-panel,
#lineUpContainer .tabs,
#lineUpContainer .tabs .tabs-title,
#lineUpContainer .tabs .tabs-title.is-active a
{
  background-color: #9676af;
  color: white;
  border: 0;
  text-transform: uppercase;

}

#lineUpContainer
{
  padding: 1em 0;
}

#lineUpContainer .tabs .tabs-title a
{
  font-size: 18px;
  color: #a7fffb;
  font-family: 'Bree Serif', serif;
  margin: 15px;

}

#lineUpContainer .tabs .tabs-title a:hover
{
  color: white;
  background-color: #9676af;
}

.tabs-title
{
  display: inline-block;
  float: none;
}

.tabs-content
{
  border: 0;
}

#lineUpContainer .orbit-container
{
  margin-bottom: 1em;
}


#lineUpContainer .column:nth-child(odd) figcaption
{
  text-align: right;
}

#ticketsContainer
{
  padding: 1em 0;
  background-color: #f6e15f;
  color: #161742;
}

#ticketsContainer h3
{
  margin-bottom: 40px;
}

.pricing-table
{
  border: 1px solid #161742;
  font-family: 'Ravi Prakash', cursive;
}

.pricing-table li,
.pricing-table li.description
{
  font-size: 20px;
}

.pricing-table li.price,
.pricing-table li.title
{
  font-size: 50px;
}

.pricing-table a.button
{
  font-family: 'Bree Serif', serif;
}

#infoContainer
{
    background-color: #161742;
    color: white;
    padding: 1em 0;
}

#infoContainer .infoMap iframe
{
    width: 100%;
}

#suscribeteContainer
{
  background-color: #ee3f54;
  color: white;
  padding: 1em 0;
}

#suscribeteContainer h4
{
  color: #ffcddc;
}

#suscribeteContaine .errorContainer
{
  font-family: 'Bree Serif', serif;
}

.is-invalid-input:not(:focus)
{
  background-color: rgb(255, 228, 228);
  border-color: rgb(255, 228, 228);
}

.data-sticky
{
  width: 100%;
  z-index: 100;
}

#footer
{
    background-color:#F08080 ;
    height: 300px;
}

#offCanvas
{
  background-color: black;
  font-family: 'Bree Serif', serif;
}

.drilldown a
{
  background-color: black;
}

#offCanvas .is-drilldown-submenu-parent > a::after
{
  border-color: transparent transparent transparent white;
}

#offCanvas .js-drilldown-back > a::before
{
  border-color: transparent white transparent transparent;
}
